@{
    ViewBag.Title = "Nova Tarefa";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<div class="container">
    <form action="/todo/create" method="POST">

        <div class="form-group">
            <label>Texto</label>
            <input type="text" name="texto" required="true" class="form-control"/>
        </div>

        <button class="btn btn-primary">Salvar</button>
        <a href="/todo/index" class="btn btn-primary">Voltar</a>

    </form>
</div>
