@using TodoList.Models
@model List<Tarefa>
@{
    ViewBag.Title = "Lista de Tarefas";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Tarefas</h1>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Texto</th>
        <th>Concluida</th>
    </tr>

    <h1>Você tem @Model.Count tarefas</h1>

    @foreach(var tarefa in Model)
    {
        <tr>
            <td>@tarefa.Id</td>
            <td>@tarefa.Texto</td>
            <td>@tarefa.Concluida</td>
        </tr>
    }

</table>

<a href="/todo/create" class="btn btn-primary">Adicionar</a>