<!DOCTYPE html>

<!-- CABEÃ‡ALHO (style.css, javascript.. , metadata) -->
<head>
    <title>Lista de Tarefas</title>
</head>

<!-- CORPO DA PÃGINA (O QUE SERÃ EXIBIDO NO NAVEGADOR) -->
<body>
    Lista de Tarefas
</body>

</html>