@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TodoList.Models.Tarefa

@{
    ViewBag.Title = "Nova Tarefa";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<div class="container">
    <form asp-controller="Todo" asp-action="Update" method="POST">

        <div class="form-group">
            <label>Texto</label>
            <input type="text" required="true" asp-for="Texto" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Concluída</label>
            <input type="checkbox" asp-for="Concluida"/>
        </div>

        <button class="btn btn-primary">Salvar</button>
        <a href="/todo/index" class="btn btn-primary">Voltar</a>

    </form>
</div>
